.u-section-1 {
  background-image: url("/static/img/ttttt-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 589px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  width: 861px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-2 {
  width: 525px;
  font-size: 1rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.625rem;
  line-height: 1.8;
  width: 589px;
  margin: 15px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 365px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 191px;
  height: 191px;
  background-image: url("/static/img/myavatar.jpg");
  background-position: 50% 50%;
  margin: 36px auto 0 40px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 365px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-text-5 {
  line-height: 2;
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 0.625rem;
  border-style: none;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 10px 18px 10px 17px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 365px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-text-8 {
  line-height: 2.2;
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 92px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 301px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 31px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 301px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 301px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: -1px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -286px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 231px;
  }

  .u-section-1 .u-image-1 {
    width: 180px;
    height: 180px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1380px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 19px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 569px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 346px;
    height: 346px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 534px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 35px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 62px 0 -25px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 353px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  text-shadow: 7px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 15px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  text-shadow: 7px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0 0;
}

.u-section-2 .u-text-4 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 15px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  text-shadow: 7px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0 0;
}

.u-section-2 .u-text-6 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 15px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  text-shadow: 7px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0 0;
}

.u-section-2 .u-text-8 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 0.875rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 291px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(235, 105, 40) !important;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-4 {
    color: rgb(37, 103, 249) !important;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-bottom: 30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 732px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.125rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 699px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: 45px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 321px;
  grid-gap: 24px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 229px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2;
  color: rgb(77, 77, 77) !important;
  margin: 20px 1px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 229px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2;
  color: rgb(77, 77, 77) !important;
  margin: 20px 1px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 229px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  line-height: 2;
  color: rgb(77, 77, 77) !important;
  margin: 20px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 265px;
  }

  .u-section-3 .u-image-1 {
    height: 181px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 181px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 181px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1309px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: 90px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 609px;
  }

  .u-section-3 .u-image-1 {
    height: 214px;
  }

  .u-section-3 .u-image-2 {
    height: 214px;
  }

  .u-section-3 .u-image-3 {
    height: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2306px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-top: 68px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 371px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 371px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 371px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1874px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-bottom: -387px;
  }

  .u-section-3 .u-image-1 {
    height: 228px;
  }

  .u-section-3 .u-image-2 {
    height: 228px;
  }

  .u-section-3 .u-image-3 {
    height: 228px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1308px;
}

.u-section-4 .u-text-1 {
  width: 681px;
  text-transform: none;
  font-size: 2.25rem;
  font-family: Roboto, sans-serif;
  margin: 25px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  width: 623px;
  margin: 34px auto 0;
}

.u-section-4 .u-line-1 {
  width: 849px;
  height: 3px;
  transform-origin: left center;
  margin: 24px auto 0;
}

.u-section-4 .u-list-1 {
  width: 867px;
  margin: 0 auto 10px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 1364px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 656px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.75rem;
  margin: 16px 632px 0 0;
}

.u-section-4 .u-group-1 {
  width: 598px;
  min-height: 286px;
  margin: -68px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  color: rgb(71, 138, 201) !important;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 656px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 0.75rem;
  margin: 16px 632px 0 0;
}

.u-section-4 .u-group-2 {
  width: 598px;
  min-height: 286px;
  margin: -68px 0 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-text-10 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  color: rgb(71, 138, 201) !important;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 0 0;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 656px 0 0;
}

.u-section-4 .u-text-12 {
  font-size: 0.75rem;
  margin: 16px 632px 0 0;
}

.u-section-4 .u-group-3 {
  width: 598px;
  min-height: 286px;
  margin: -68px 0 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-text-14 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-icon-3 {
  color: rgb(71, 138, 201) !important;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 0 0;
}

.u-section-4 .u-text-15 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 656px 0 0;
}

.u-section-4 .u-text-16 {
  font-size: 0.75rem;
  margin: 16px 632px 0 0;
}

.u-section-4 .u-group-4 {
  width: 598px;
  min-height: 286px;
  margin: -68px 0 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-4 .u-text-17 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-text-18 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-icon-4 {
  color: rgb(71, 138, 201) !important;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 509px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 485px;
  }

  .u-section-4 .u-group-1 {
    width: 449px;
    min-height: 352px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 509px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 485px;
  }

  .u-section-4 .u-group-2 {
    width: 449px;
    min-height: 352px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 509px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 485px;
  }

  .u-section-4 .u-group-3 {
    width: 449px;
    min-height: 352px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 509px;
  }

  .u-section-4 .u-text-16 {
    margin-right: 485px;
  }

  .u-section-4 .u-group-4 {
    width: 449px;
    min-height: 352px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.5rem;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 329px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 305px;
  }

  .u-section-4 .u-group-1 {
    width: 520px;
    min-height: 301px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 329px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 305px;
  }

  .u-section-4 .u-group-2 {
    width: 520px;
    min-height: 301px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-4 .u-text-11 {
    margin-right: 329px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 305px;
  }

  .u-section-4 .u-group-3 {
    width: 520px;
    min-height: 301px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-4 .u-text-15 {
    margin-right: 329px;
  }

  .u-section-4 .u-text-16 {
    margin-right: 305px;
  }

  .u-section-4 .u-group-4 {
    width: 520px;
    min-height: 301px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2057px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 129px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 105px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-right: 105px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 129px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 105px;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
    margin-right: 105px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 129px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 105px;
  }

  .u-section-4 .u-group-3 {
    width: 340px;
    margin-right: 105px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 129px;
  }

  .u-section-4 .u-text-16 {
    margin-right: 105px;
  }

  .u-section-4 .u-group-4 {
    width: 340px;
    margin-right: 105px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 443px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 22px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 22px auto 0;
}

.u-section-5 .u-form-1 {
  height: 370px;
  width: 570px;
  margin: 4px auto 13px;
}

.u-section-5 .u-form-group-3 {
  margin-left: 0;
}

.u-section-5 .u-form-group-4 {
  margin-left: 0;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 2.5rem;
    width: auto;
    margin-top: 26px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-form-1 {
    width: 340px;
  }
}